{# index.twig #}
{% extends 'includes/1_core/layout.twig' %}

{% block page %}
  <section class="wrapper">
    <h1>{{ title }}</h1>
    <h2>{{ testing }}</h2>

    <h5>Utility</h5>
    <ul>
      {% for item in utilityLinks %}
        <li><a href="{{ item.link }}">{{ item.name }}</a></li>
      {% endfor %}
    </ul>

    <h5>Layouts</h5>
    <ul>
      {% for item in layoutLinks %}
        <li><a href="{{ item.link }}">{{ item.name }}</a></li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}
